.winbox {
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  font-family: "Tahoma";
}

.wb-drag {
  background: linear-gradient(
    180deg,
    rgba(9, 151, 255, 1) 0%,
    rgba(0, 83, 238, 1) 8%,
    rgba(0, 80, 238, 1) 40%,
    rgba(0, 102, 255, 1) 88%,
    rgba(0, 102, 255, 1) 93%,
    rgba(0, 91, 255, 1) 95%,
    rgba(0, 61, 215, 1) 96%,
    rgba(0, 61, 215, 1) 100%
  );
  padding: 3px 5px 3px 3px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
}

.wb-title {
  font-family: "Trebuchet MS";
  /* height: 28px; */
  padding-left: 3px;
  font-size: 13px;
  text-shadow: 1px 1px #0f1089;
}

.wb-control {
  margin-right: 6px;
  display: flex;
  align-items: center;     /* <-- This vertically centers items */
  gap: 4px;                /* Optional: spacing between buttons */
  height: 100%;
}
.wb-control span {
  display: inline-block;
}
.wb-min,
.wb-max,
.wb-close {
  width: 24px;
  height: 24px;
  background-size: 24px auto;
  /* background-position-x: calc(50% + 2px);
  background-position-y: calc(50% + 2px); */
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

.wb-min {
  background-image: url(../icons/minimize.svg);
}
.wb-min:hover {
  background-image: url(../icons/minimize-hover.svg);
}
.wb-min:active:not(:disabled) {
  background-image: url(../icons/minimize-active.svg);
}

.wb-max {
  background-image: url(../icons/maximize.svg);
}
.wb-max:hover {
  background-image: url(../icons/maximize-hover.svg);
}
.wb-max:active:not(:disabled) {
  background-image: url(../icons/maximize-active.svg);
}

.wb-close {
  background-image: url(../icons/close.svg);
}
.wb-close:hover {
  background-image: url(../icons/close-hover.svg);
}
.wb-close:active:not(:disabled) {
  background-image: url(../icons/close-active.svg);
}

.wb-full {
  display: none;
}

/* Winbox Content Style */
.wb-body {
  margin: 4px;
  justify-content: center;
}

.wb-body button {
  color: #000;
  font-family: "Tahoma";
  font-size: large;
}

.wb-body .open-source-daily {
  color: green;
  text-align: center;
  font-weight: 600;
}

.wb-body p,li {
  font-size: 16px;
}

.wb-body .news-year, .lan-author {
  /* font-size: 16px; */
  color: darkgrey;
}

.wb-body .news-summary {
  font-size: 18px;
}