/* Browser Look */
.winbox {
  background: black;
  border-radius: 0 0 0 0;
  box-shadow: none;
  font-family: "Ohlfs";
  min-width: 400px;
  min-height: 400px;
}

.wb-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
  font-family: "Ohlfs";
}

.wb-drag {
  background: #6c6c6c;
  padding: 3px 5px 3px 3px;
  border-top: 1px solid #BBBBBB;
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 2px;
}

/* Body */
.wb-body {
  margin: 2px;
  color: #000;
  background: #fff;
}

.wb-body .accent {
  background: #00ff00;
}

.wb-body a,
button {
  color: hsl(var(--accent));
  transition: color 0.3s ease-in-out;
}

.wb-n {
  position: relative;
}

/* Scrollbar */
.wb-body::-webkit-scrollbar {
  width: 12px;
}
.wb-body::-webkit-scrollbar-track {
  background: grey;
}
.wb-body::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #263040;
}
.wb-body::-webkit-scrollbar-thumb:window-inactive {
  background: #181f2a;
}
.wb-body::-webkit-scrollbar-corner {
  background: transparent;
}

/* Browser buttons */
.wb-close {
  background-image: url(../icons/1990s/1990s-close.svg);
  &:hover {
    background-image: url(../icons/1990s/1990s-close-hover.svg);
  }
  &:not(:disabled):active {
    background-image: url(../icons/1990s/1990s-close-active.svg);
  }
  background-size: 24px auto;
  background-position-x: calc(50%);
  background-position-y: calc(50%);
}

.wb-max {
  background-image: url(../icons/1990s/1990s-maximize.svg);
  &:hover {
    background-image: url(../icons/1990s/1990s-maximize.svg);
  }
  &:not(:disabled):active {
    background-image: url(../icons/1990s/1990s-maximize.svg);
  }
  background-size: 24px auto;
  background-position-x: calc(50% + 2px);
  background-position-y: calc(50% + 2px);
}

/* Button to open window */
.winboxButton {
  background-color: #bbb;
  padding: 0.5rem;
  width: 100%;
  justify-self: end;
  border: none;
  transition: background-color 0.2s ease;
}

.winboxButton:hover {
  background-color: #6c6c6c;
  cursor: pointer;
}

.winboxButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
