.winbox {
    background: #062498;
    border: 2px solid #2F2F2F;
    border-radius: 8px;
  }
  
  .wb-body {
    color: #000;
    background: #f1f1f1;
    font-family:'Segoe-UI-Variable', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .wb-title {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
  }
  